.advantages {
  padding-top: 41px;
  text-align: center;
}

.advantages__lead {
  @include padding-hor;
  @include font(300, 24px, 29px);
  color: $navy;
}

.advantages__lead-item {
  @include margin-vert;
  &:not(:last-child) {
    margin-bottom: 29px;
  }
}

.advantages__wrapper {
  padding-top: 113px;
  &::before {
    top: 0;
  }
}

.advantages__list {
  @include list;
  padding-bottom: 319px;
  @include padding-hor;
  background-image:
    url("../img/iphone-screen-mobile@1x.png");
  background-repeat:
    no-repeat;
  background-position:
    50% calc(100% + 41px);
}

.advantages__item:not(:last-child) {
  margin-bottom: 32px;
}

.advantages__title {
  @include margin-vert(11px);
  @include font(700, 18px, 24px);
  color: black;
}

.advantages__description {
  @include margin-vert;
  @include font(400, 14px, 24px);
  color: $navy;
}

.advantages__research {
  display: none;
}
