.advantages {
  padding-top: 41px;
  background-color: white;
}

.advantages__lead {
  @include padding-hor;
  @include font(300, 24px, 29px);
  text-align: center;
  color: $navy;
}

.advantages__lead-item {
  @include margin-vert;
  &:not(:last-child) {
    margin-bottom: 29px;
  }
}

.advantages__wrapper {
  position: relative;
  z-index: 0;
  padding-top: 113px;
  background-color: $gray;
}

.advantages__background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.advantages__list {
  @include list;
  padding-bottom: 319px;
  @include padding-hor;
  background-image: url("../img/iphone-screen-3-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% calc(100% + 41px);
}

.advantages__item {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.advantages__title {
  @include margin-vert(11px);
  @include font(700, 18px, 24px);
  color: black;
}

.advantages__description {
  @include margin-vert;
  @include font(400, 14px, 24px);
  color: $navy;
}

@media (min-width: $tablet) {
  .advantages {
    padding-top: 49px;
  }

  .advantages__lead {
    @include font(300, 40px, 48px);
    margin-bottom: 20px;
  }

  .advantages__lead-item {
    &:not(:last-child) {
      margin-bottom: 0;
    }
    &:last-child {
      @include padding-hor(120px);
    }
  }

  .advantages__wrapper {
    padding-top: 0;
  }

  .advantages__list {
    @include padding-vert(102px, 43px);
    padding-left: 330px;
    padding-right: 20px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px 100%;
  }

  .advantages__item {
    text-align: left;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}
