.aligner {
  width: 100%;
  @include margin-hor(auto);
  &--panorama {
    width: calc(100% - 40px);
  }
}



@media (min-width: $tablet) {
  .aligner {
    &--form {
      width: 620px;
    }
  }
}



@media (min-width: $desktop) {
  .aligner {
    max-width: 1200px;
    &--panorama {
      width: calc(100% - 20px);
      max-width: 1180px;
    }
    &--form {
      width: 100%;
    }
    &--editor {
      width: 940px;
    }
  }
}
