.background-triangle {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $gray;
    background-image: url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
  }

  @media (min-width: 660px) {
    padding-top: 0px;
    &::before {
      top: 20px;
      height: calc(100% - 20px);
    }
  }
}
