.background-triangle {
  background-color: $gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}
