.contacts {
  @include padding-vert(42px, 0);
  text-align: center;
  background-color: white;

  @media (min-width: $tablet-min) {
    padding-top: 46px;
  }

  @media (min-width: $desktop-min) {
    padding-top: 64px;
  }
}

.contacts__wrapper {
  margin-bottom: 36px;

  @media (min-width: $tablet-min) {
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 0;
  }
}

.contacts__tip {
  @include margin-vert(32px);
  @include padding-hor;
  @include font(300, 24px, 30px);
  color: $navy;

  @media (min-width: $tablet-min) {
    margin-bottom: 44px;
    @include padding-hor(50px);
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 57px;
    @include padding-hor(120px);
    font-size: 50px;
    line-height: 60px;
  }
}

.contacts__list {
  @include list;
  @include padding-hor;

  @media (min-width: $tablet-min) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: $desktop-min) {
    justify-content: space-between;
    @include padding-hor(10px);
  }
}

.contacts__item {
  &--phone {
    margin-bottom: 21px;
  }

  &--email {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet-min) {
    width: calc(500% / 11);

    &:not(:last-child) {
      margin-bottom: 47px;
    }

    &--phone {
      margin-right: 20px;
    }
  }

  @media (min-width: $desktop-min) {
    width: calc(100% / 3 - 20px);

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--address {
      margin-right: 20px;
    }

    &--email {
      order: 1;
    }
  }
}

.contacts__legend {
  display: block;
  @include font(700, 18px, 24px);

  &--email {
    margin-bottom: 2px;
  }

  &--address {
    margin-bottom: 2px;
  }

  @media (min-width: $tablet-min) {
    &--phone {
      margin-bottom: 3px;
    }

    &--email {
      margin-bottom: 3px;
    }

    &--address {
      margin-bottom: 5px;
    }
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 22px;
  }
}

.contacts__value {
  display: block;
  @include font(300, 24px, 30px);
  color: $pink;

  @media (min-width: $tablet-min) {
    &--address {
      @include padding-hor(20px);
    }
  }
}

.contacts__link {
  display: block;
}

.contacts__map {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background-color: white;
  background-image:
    url("../img/icon-map-marker.svg"),
    url("../img/bg-map-mobile@1x.jpg");
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    50% 95px,
    50% 0;
  background-size:
    auto,
    320px;

  @media (min-resolution: $retina-i), (min-resolution: $retina-x) {
    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-map-mobile@2x.jpg");
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 33px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 100% 100%;
  }

  @media (min-width: $tablet-min) {
    height: 372px;
    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-map-tablet@1x.jpg");
    background-position:
      50% 193px,
      50% -133px;
    background-size:
      auto,
      700px;

    @media (min-resolution: $retina-i), (min-resolution: $retina-x) {
      background-image:
        url("../img/icon-map-marker.svg"),
        url("../img/bg-map-tablet@2x.jpg");
    }

    &::before {
      height: 68px;
    }
  }

  @media (min-width: $desktop-min) {
    height: 521px;
    background-image:
      url("../img/icon-map-marker.svg"),
      url("../img/bg-map-desktop@1x.jpg");
    background-position:
      50% 283px,
      50% -45px;
    background-size:
      auto,
      1200px;

    @media (min-resolution: $retina-i), (min-resolution: $retina-x) {
      background-image:
        url("../img/icon-map-marker.svg"),
        url("../img/bg-map-desktop@2x.jpg");
    }

    &::before {
      height: 123px;
    }
  }
}
