.controls {
  display: flex;
  justify-content: center;

  @include list;
  padding-bottom: 1px;

  @media (min-width: $tablet-min) {
    &--price {
      display: none;
    }
  }

  @media (min-width: $desktop-min) {
    display: none;
  }
}

.controls__item {
  &:not(:last-child) {
    margin-right: 13px;
  }
}

.controls__button {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: transparent;
  border-style: none;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 6px;
    height: 6px;
    background-color: rgba(40, 54, 69, 0.3);
    border-radius: 50%;
  }

  &:hover::before {
    background-color: rgba(40, 54, 69, 0.6);
  }

  &:active::before {
    background-color: rgba(40, 54, 69, 0.1);
  }
}
