.controls {
  display: flex;
  justify-content: center;
  @include list;
}

.controls__item:not(:last-child) {
  margin-right: 13px;
}

.controls__button {
  display: block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-style: none;
  border-radius: 50%;
}
