.copyright {
  display: flex;
  justify-content: center;
}

.copyright__legend {
  display: block;
  margin-right: 15px;
  padding-top: 5px;
  @include font(400, 14px, 18px);
  color: $navy;

  @media (min-width: $tablet-min) {
    padding-top: 6px;
  }

  @media (min-width: $desktop-min) {
    margin-right: 13px;
    font-size: 18px;
  }
}

.copyright__link {
  display: block;
}

.copyright__icon-wrapper {
  display: block;
  width: 27px;
  height: 34px;
}

.copyright__icon {
  fill: $pink;

  .copyright__link:hover & {
    fill: $navy;
  }

  .copyright__link:active & {
    opacity: 0.3;
  }
}
