.copyright {
  display: flex;
  justify-content: center;
}

.copyright__legend {
  display: block;
  margin-right: 15px;
  padding-top: 5px;
  @include font(400, 14px, 18px);
  color: $navy;
}

.copyright__link {
  display: block;
}

.copyright__icon {
  display: block;
  width: 27px;
  height: 34px;
}



@media (min-width: $tablet) {
  .copyright__legend {
    padding-top: 6px;
  }
}



@media (min-width: $desktop) {
  .copyright__legend {
    margin-right: 13px;
    font-size: 18px;
  }
}
