.download {
  padding-top: 396px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 31px) 109px;
  background-size: 258px;

  @media (min-resolution: $retina-i), (min-resolution: $retina-x) {
    background-image: url("../img/iphone-hand-mobile@2x.png");
  }

  @media (min-width: $tablet-min) {
    @include padding-vert(93px, 110px);
    padding-left: 20px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: 50% 100%;
    background-size: 700px;

    @media (min-resolution: $retina-i), (min-resolution: $retina-x) {
      background-image: url("../img/iphone-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-min) {
    @include padding-vert(106px, 122px);
    @include padding-hor(10px);
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: calc(50% + 71px) 99px;
    background-size: 1050px;

    @media (min-resolution: $retina-i), (min-resolution: $retina-x) {
      background-image: url("../img/iphone-hand-desktop@2x.png");
    }
  }
}

.download__wrapper {
  @include padding-vert(27px, 30px);
  @include padding-hor(calc((100% - 280px) / 2));
  text-align: center;
  background-color: #1d2631;

  @media (min-width: $tablet-min) {
    width: 300px;

    @include padding-vert(0, 0);
    @include padding-hor(0);
    background-color: transparent;
  }

  @media (min-width: $desktop-min) {
    width: 300px;
  }
}

.download__slogan {
  display: none;

  @media (min-width: $tablet-min) {
    display: block;

    @include margin-vert(30px);
    @include padding-hor(30px);
    @include font(300, 40px, 48px);
    color: white;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 51px;

    @include font(300, 50px, 61px);
  }
}

.download__main-link {
  width: 280px;
  margin-bottom: 32px;

  @include margin-hor(auto);

  @media (min-width: $tablet-min) {
    width: 300px;
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 66px;
  }
}

.download__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include list;
  margin-bottom: 21px;

  @include padding-hor(2px);

  @media (min-width: $tablet-min) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 55px;
  }
}

.download__item {
  display: flex;
  width: 92px;
}

.download__link {
  display: block;
  background-repeat: no-repeat;

  &--apple {
    width: 47px;
    height: 57px;
    margin-left: 35px;
    background-image: url("../img/icon-download-apple.svg");
    background-size: 47px 57px;
  }

  &--android {
    width: 43px;
    height: 47px;
    margin-top: 8px;
    margin-left: 24px;
    background-image: url("../img/icon-download-android.svg");
    background-size: 43px 47px;
  }

  &--windows {
    width: 44px;
    height: 42px;
    margin-top: 12px;
    margin-left: 12px;
    background-image: url("../img/icon-download-windows.svg");
    background-size: 44px 42px;
  }
}

.download__annotation {
  @include margin-vert;
  @include font(300, 14px, 24px);
  color: white;

  @media (min-width: $tablet-min) {
    font-size: 18px;
  }
}
