.editor {
  background-color: white;
}

.editor__slogan {
  @include margin-vert;
  @include padding-vert(40px, 42px);
  @include padding-hor(30px);
  @include font;
  text-align: center;
  color: $navy;
}

.editor__outer-wrapper {
  background-color: $gray;
}

.editor__inner-wrapper {
  @include padding-vert(20px, 41px);
  @include padding-hor;
}

.editor__image {
  display: block;
  margin-bottom: 42px;
}

.editor__toggles {
  display: flex;
  justify-content: center;
  @include list;
  margin-bottom: 27px;
  @include padding-hor(2px);
}

.editor__toggles-item {
  width: 92px;
}

.editor__toggle-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border-style: none;
  &--crop {
    width: 44px;
    height: 44px;
    margin-left: 34px;
  }
  &--color {
    width: 48px;
    height: 43px;
    margin-left: 20px;
  }
  &--contrast {
    width: 32px;
    height: 32px;
    margin-top: 6px;
    margin-left: 16px;
  }
  &:hover .editor__path {
    fill: rgba(40, 54, 69, 0.5);
  }
  &:active .editor__path {
    fill: $pink;
  }
}

.editor__icon {
  display: block;
  &--scale {
    display: none;
  }
}

.editor__path {
  fill: rgba(40, 54, 69, 0.3);
}

.editor__list {
  @include list;
  margin-bottom: 57px;
}

.editor__scale {
  -webkit-appearance: none;
  width: 240px;
  height: 14px;
  @include margin-hor(20px);
  padding: 0;
  background: transparent;
  &::-webkit-slider-runnable-track {
    @include range-track;
  }
  &::-moz-range-track {
    @include range-track;
  }
  &::-ms-track {
    @include range-track;
  }
  &::-ms-fill-lower {
    @include range-track;
  }
  &::-ms-fill-upper {
    @include range-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-thumb;
    margin-top: -6px;
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
  &::-ms-thumb {
    @include range-thumb;
  }
  &:active::-webkit-slider-thumb {
    background-color: $pink;
  }
  &:active::-moz-range-thumb {
    background-color: $pink;
  }
  &:active::-ms-thumb {
    background-color: $pink;
  }
  &::-ms-tooltip {
    display: none;
  }
}

.editor__button {
  width: 280px;
  &:first-of-type {
    margin-bottom: 12px;
  }
}



@media (min-width: $tablet) {
  .editor__slogan {
    @include padding-vert(65px, 69px);
    font-size: 18px;
  }

  .editor__inner-wrapper {
    display: flex;
    @include padding-vert(57px, 53px);
  }

  .editor__image {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
    margin-right: auto;
  }

  .editor__controls-wrapper {
    width: 275px;
  }

  .editor__toggles {
    display: none;
  }

  .editor__icon--scale {
    position: absolute;
    display: block;
    .editor__path {
      fill: $pink;
    }
  }

  .editor__list {
    margin-bottom: 66px;
  }

  .editor__item {
    position: relative;
    @include padding-vert(23px, 18px);
    padding-left: 57px;
    padding-right: 18px;
    border-bottom: 1px solid #dddfe0;
    &--crop {
      padding-top: 7px;
      .editor__icon--scale {
        top: 8px;
        left: 2px;
        width: 22px;
        height: 22px;
      }
    }
    &--color {
      .editor__icon--scale {
        top: 27px;
        left: 3px;
        width: 24px;
        height: 22px;
      }
    }
    &--contrast {
      .editor__icon--scale {
        top: 27px;
        left: 8px;
        width: 16px;
        height: 16px;
      }
    }
  }

  .editor__scale {
    width: 200px;
    @include margin-hor(0);
  }

  .editor__button-wrapper {
    padding-left: 2px;
  }

  .editor__button {
    width: 260px;
    &:first-of-type {
      margin-bottom: 24px;
    }
  }
}
