.editor {
  padding-top: 40px;
}

.editor__slogan {
  @include margin-vert(42px);
  @include padding-hor(30px);
  @include font;
  text-align: center;
  color: $navy;
}

.editor__wrapper {
  padding-top: 20px;
  @include padding-hor;
  background-color: $gray;
}

.editor__image {
  display: block;
  margin-bottom: 42px;
}

.editor__toggles {
  display: flex;
  justify-content: center;
  @include list;
  margin-bottom: 27px;
  @include padding-hor(2px);
}

.editor__toggles-item {
  width: 92px;
}

.editor__toggle-button {
  display: block;
  padding: 0;
  background-color: red;
  border-style: none;
  &--crop {
    width: 44px;
    height: 44px;
    margin-left: 34px;
  }
  &--color {
    width: 48px;
    height: 43px;
    margin-left: 20px;
  }
  &--contrast {
    width: 32px;
    height: 32px;
    margin-top: 6px;
    margin-left: 16px;
  }
}

.editor__list {
  @include list;
}

.editor__scale {
  -webkit-appearance: none;
  width: 240px;
  height: 14px;
  margin-bottom: 40px;
  @include margin-hor(20px);
  padding: 0;
  background: transparent;
  &::-webkit-slider-runnable-track {
    @include range-track;
  }
  &::-moz-range-track {
    @include range-track;
  }
  &::-ms-track {
    @include range-track;
  }
  &::-ms-fill-lower {
    @include range-track;
  }
  &::-ms-fill-upper {
    @include range-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-thumb;
    margin-top: -6px;
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
  &::-ms-thumb {
    @include range-thumb;
  }
  &:active::-webkit-slider-thumb {
    background-color: $pink;
  }
  &:active::-moz-range-thumb {
    background-color: $pink;
  }
  &:active::-ms-thumb {
    background-color: $pink;
  }
  &::-ms-tooltip {
    display: none;
  }
}

.editor__button {
  width: 280px;
}
