.editor {
  background-color: white;
}

.editor__slogan {
  @include margin-vert;
  @include padding-vert(43px, 42px);
  @include padding-hor(30px);
  @include font;
  text-align: center;
  color: $navy;
}

.editor__outer-wrapper {
  background-color: $gray;
}

.editor__inner-wrapper {
  @include padding-vert(20px, 41px);
}

.editor__image {
  display: block;
  margin-bottom: 40px;
  @include margin-hor(20px);
}

.editor__toggles {
  display: flex;
  justify-content: center;
  @include list;
  margin-bottom: 28px;
  @include padding-hor(20px);
}

.editor__toggles-item {
  width: 92px;
}

.editor__toggle-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border-style: none;
  &--crop {
    width: 44px;
    height: 44px;
    margin-left: 34px;
  }
  &--color {
    width: 48px;
    height: 43px;
    margin-top: 2px;
    margin-left: 22px;
  }
  &--contrast {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    margin-left: 18px;
  }
  &:hover .editor__path {
    fill: rgba(40, 54, 69, 0.5);
  }
  &:active .editor__path {
    fill: $pink;
  }
}

.editor__label {
  display: none;
}

.editor__icon {
  display: block;
}

.editor__path {
  fill: rgba(40, 54, 69, 0.3);
}

.editor__list {
  @include list;
  margin-bottom: 38px;
}

.editor__item {
  padding-bottom: 18px;
  @include padding-hor;
  border-bottom: 1px solid #dddfe0;
}

.editor__scale {
  -webkit-appearance: none;
  width: 240px;
  height: 14px;
  @include margin-hor(20px);
  padding: 0;
  background: transparent;
  &::-webkit-slider-runnable-track {
    @include range-track;
  }
  &::-moz-range-track {
    @include range-track;
  }
  &::-ms-track {
    @include range-track;
  }
  &::-ms-fill-lower {
    @include range-track;
  }
  &::-ms-fill-upper {
    @include range-track;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include range-thumb;
    margin-top: -6px;
  }
  &::-moz-range-thumb {
    @include range-thumb;
  }
  &::-ms-thumb {
    @include range-thumb;
  }
  &:active::-webkit-slider-thumb {
    background-color: $pink;
  }
  &:active::-moz-range-thumb {
    background-color: $pink;
  }
  &:active::-ms-thumb {
    background-color: $pink;
  }
  &::-ms-tooltip {
    display: none;
  }
}

.editor__button-wrapper {
  @include padding-hor;
}

.editor__button {
  width: 280px;
  &:first-of-type {
    margin-bottom: 12px;
  }
}



@media (min-width: $tablet) {
  .editor__slogan {
    @include padding-vert(65px, 69px);
    font-size: 18px;
  }

  .editor__inner-wrapper {
    display: flex;
    justify-content: space-between;
    @include padding-vert(57px, 54px);
    @include padding-hor;
  }

  .editor__image {
    width: 300px;
    height: 400px;
    margin-bottom: 0;
    @include margin-hor(0);
  }

  .editor__form {
    width: 275px;
  }

  .editor__toggles {
    display: none;
  }

  .editor__list {
    margin-bottom: 66px;
  }

  .editor__label {
    position: absolute;
    display: block;
  }

  .editor__item {
    position: relative;
    @include padding-vert(23px, 18px);
    padding-left: 57px;
    padding-right: 18px;
    &--crop {
      padding-top: 7px;
      .editor__label {
        top: 8px;
        left: 2px;
        width: 22px;
        height: 22px;
      }
      .editor__icon--scale {
        width: 22px;
        height: 22px;
      }
    }
    &--color {
      .editor__label {
        top: 27px;
        left: 3px;
        width: 24px;
        height: 22px;
      }
      .editor__icon--scale {
        width: 24px;
        height: 22px;
      }
    }
    &--contrast {
      .editor__label {
        top: 27px;
        left: 8px;
        width: 16px;
        height: 16px;
      }
      .editor__icon--scale {
        width: 16px;
        height: 16px;
      }
    }
  }

  .editor__icon--scale {
    .editor__path {
      fill: $pink;
    }
  }

  .editor__scale {
    width: 200px;
    @include margin-hor(0);
  }

  .editor__button-wrapper {
    @include padding-hor(0);
  }

  .editor__button {
    width: 260px;
    &:first-of-type {
      margin-bottom: 24px;
    }
  }
}



@media (min-width: $desktop) {
  .editor {
    padding-bottom: 29px;
  }

  .editor__slogan {
    @include padding-vert(59px, 66px);
  }

  .editor__outer-wrapper {
    background-color: transparent;
  }

  .editor__inner-wrapper {
    padding-bottom: 57px;
    padding-left: 80px;
    padding-right: 60px;
    background-color: $gray;
  }

  .editor__form {
    display: flex;
    flex-direction: column;
    width: 410px;
  }

  .editor__list {
    margin-bottom: auto;
  }

  .editor__item {
    display: flex;
    padding-bottom: 28px;
    padding-right: 30px;
    &--crop {
      padding-top: 13px;
      .editor__label {
        top: -4px;
        left: -2px;
        width: 44px;
        height: 44px;
      }
      .editor__icon--scale {
        width: 44px;
        height: 44px;
      }
    }
    &--color {
      padding-top: 30px;
      .editor__label {
        top: 15px;
        left: 0;
        width: 48px;
        height: 43px;
      }
      .editor__icon--scale {
        width: 48px;
        height: 43px;
      }
    }
    &--contrast {
      padding-top: 27px;
      .editor__label {
        top: 18px;
        left: 6px;
        width: 32px;
        height: 32px;
      }
      .editor__icon--scale {
        width: 32px;
        height: 32px;
      }
    }
  }

  .editor__scale {
    width: 288px;
    margin-left: auto;
  }

  .editor__button-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .editor__button {
    width: 183px;
    &:first-of-type {
      margin-bottom: 0;
    }
  }
}
