.feed {
  padding-top: 45px;
  background-color: white;
}

.feed__slogan {
  @include margin-vert(49px);
  @include padding-hor(35px);
  @include font;
  text-align: center;
  color: $navy;
}

.feed__panorama {
  margin-bottom: 20px;
}

.feed__list {
  @include list;
  @include padding-hor;
}

.feed__item:not(:last-child) {
  margin-bottom: 20px;
}
