.intro {
  padding-top: 396px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: calc(50% - 31px) -286px;
}

.intro__wrapper {
  @include padding-vert(28px, 30px);
  @include padding-hor;
  text-align: center;
  background-color: #1d2631;
}

.intro__title {
  @media (max-width: $mobile-max) {
    @include visually-hider;
  }
}

.intro__main-link {
  width: 100%;
  margin-bottom: 32px;
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include list;
  margin-bottom: 21px;
  @include padding-hor(2px);
}

.intro__item {
  display: flex;
  width: 92px;
}

.intro__link {
  display: block;
  &--apple {
    width: 47px;
    height: 57px;
    margin-left: 35px;
  }
  &--android {
    width: 43px;
    height: 47px;
    margin-top: 8px;
    margin-left: 24px;
  }
  &--windows {
    width: 44px;
    height: 42px;
    margin-top: 12px;
    margin-left: 12px;
  }
}

 .intro__icon {
   display: block;
 }

.intro__annotation {
  @include margin-vert;
  @include font(300, 14px, 24px);
  color: white;
}
