.intro {
  padding-top: 396px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 110px;

  @media (min-width: $tablet) {
    display: flex;
    @include padding-vert(94px, 110px);
    padding-left: 20px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -20px 100%;
  }
}

.intro__wrapper {
  @include padding-vert(28px, 30px);
  @include padding-hor;
  text-align: center;
  background-color: #1d2631;

  @media (min-width: $tablet) {
    @include padding-vert(0, 0);
    width: 300px;
    @include padding-hor(0);
    background-color: transparent;
  }
}

.intro__title {
  @media (max-width: $mobile-max) {
    @include visually-hider;
  }

  @media (min-width: $tablet) {
    display: block;
    @include margin-vert(31px);
    @include padding-hor(30px);
    @include font(300, 40px, 48px);
    color: white;
  }
}

.intro__main-link {
  width: 100%;
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }
}

.intro__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include list;
  margin-bottom: 21px;
  @include padding-hor(2px);

  @media (min-width: $tablet) {
    margin-bottom: 36px;
  }
}

.intro__item {
  display: flex;
  width: 92px;
}

.intro__link {
  display: block;
  &--apple {
    width: 47px;
    height: 57px;
    margin-left: 35px;
  }
  &--android {
    width: 43px;
    height: 47px;
    margin-top: 8px;
    margin-left: 24px;
  }
  &--windows {
    width: 44px;
    height: 42px;
    margin-top: 12px;
    margin-left: 12px;
  }
}

 .intro__icon {
   display: block;
 }

.intro__annotation {
  @include margin-vert;
  @include font(300, 14px, 24px);
  color: white;

  @media (min-width: $tablet) {
    font-size: 18px;
  }
}
