.intro {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.intro__title {
  @include margin-vert;
  padding-top: 30px;
  @include padding-hor;
  @include font(300, 24px, 30px);
  text-align: center;
  color: white;
  &--index {
    @include visually-hider;
  }
  &--contest {
    padding-bottom: 51px;
  }
  &--gallery {
    padding-bottom: 81px;
  }
}

@media (min-width: $tablet) {
  .intro {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position-y: -110px;
  }

  .intro__title {
    padding-top: 68px;
    font-size: 50px;
    line-height: 62px;
    &--contest {
      padding-bottom: 51px;
    }
    &--gallery {
      padding-bottom: 138px;
    }
  }
}

@media (min-width: $desktop) {
  .intro {
    padding-top: 110px;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: calc(50% + 10px) 0;
  }
}
