.logo {
  display: block;
}

.logo__image {
  display: block;
  &--header {
    width: 75px;
    height: 22px;
  }
  &--footer {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $tablet) {
  .logo__image {
    &--header {
      width: 147px;
      height: 40px;
    }
  }
}
