.page-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header__navigation {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__top-wrapper {
  position: relative;
  @include padding-vert(22px, 26px);
}

.page-header__logo {
  width: 75px;
  margin-left: 20px;
}

.page-header__button {
  position: absolute;
  display: none;
  padding: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;

  &--open {
    top: 21px;
    right: 20px;
    width: 50px;
    height: 24px;
  }
  &--close {
    top: 21px;
    right: 19px;
    width: 24px;
    height: 24px;
  }
}

.page-header__icon {
  display: block;
}

.page-header__list {
  @include margin-vert;
}



@media (min-width: $tablet) {
  .page-header__top-wrapper {
    @include padding-vert(27px, 43px);
  }

  .page-header__logo {
    width: 147px;
  }
}



@media (max-width: $tablet-max) {
  .page-header__navigation--opened {
    .page-header__top-wrapper {
      background-color: $navy;
      box-shadow: inset 0 -1px 0 0 #000000;
    }
    .page-header__button--open {
      display: none;
    }
    .page-header__button--close {
      display: block;
    }
    .page-header__list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }
  }

  .page-header__navigation--closed {
    .page-header__button--open {
      display: block;
    }
    .page-header__button--close {
      display: none;
    }
    .page-header__list {
      display: none;
    }
  }

  .page-header--nojs {
    position: static;
    .page-header__top-wrapper {
      background-color: $navy;
      box-shadow: inset 0 -1px 0 0 #000000;
    }
    .page-header__button--open {
      display: none;
    }
    .page-header__button--close {
      display: none;
    }
    .page-header__list {
      display: block;
    }
  }
}



@media (min-width: $desktop) {
  .page-header__navigation {
    flex-direction: row;
    justify-content: space-between;
    @include padding-hor(10px);
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__list {
    width: calc(3100% / 47);
  }
}
