.page-footer {
  background-color: white;
  &--index {
    display: none;
  }
}

.page-footer__wrapper {
  @include padding-vert(40px, 40px);
  @include padding-hor;
}

.page-footer__logo {
  width: 147px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__list {
  @include margin-vert(40px);
}



@media (min-width: $tablet) {
  .page-footer {
    display: flex;
  }
}
