.page-header {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  @media (max-width: $tablet-max) {
    &--nojs {
      position: static;
    }
  }
}

.page-header__navigation {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-min) {
    flex-direction: row;
    justify-content: space-between;
    @include padding-hor(10px);
  }
}

.page-header__top-wrapper {
  position: relative;
  @include padding-vert(22px, 26px);

  @media (min-width: $tablet-min) {
    @include padding-vert(27px, 43px);
  }

  @media (max-width: $tablet-max) {
    .page-header__navigation--opened & {
      background-color: $navy;
      box-shadow: inset 0 -1px 0 0 #000000;
    }

    .page-header--nojs & {
      background-color: $navy;
      box-shadow: inset 0 -1px 0 0 #000000;
    }
  }
}

.page-header__logo {
  width: 75px;
  margin-left: 20px;

  @media (min-width: $tablet-min) {
    width: 147px;
  }

  @media (min-width: $desktop-min) {
    margin-left: 0;
  }
}

.page-header__button {
  position: absolute;
  display: none;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  border-style: none;
  cursor: pointer;

  &--open {
    top: 21px;
    right: 20px;
    width: 50px;
    height: 24px;
    background-image: url("../img/icon-menu-open.svg");
    background-size: 50px 24px;
  }

  &--close {
    top: 21px;
    right: 19px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-menu-close.svg");
    background-size: 24px 24px;
  }

  @media (min-width: $tablet-min) {
    &--open {
      top: 44px;
    }

    &--close {
      top: 45px;
    }
  }

  @media (max-width: $tablet-max) {
    .page-header__navigation--opened &--open {
      display: none;
    }

    .page-header__navigation--opened &--close {
      display: block;
    }

    .page-header__navigation--closed &--open {
      display: block;
    }

    .page-header__navigation--closed &--close {
      display: none;
    }

    .page-header--nojs &--open {
      display: none;
    }

    .page-header--nojs &--close {
      display: none;
    }
  }
}

.page-header__list {
  @include margin-vert;

  @media (max-width: $tablet-max) {
    .page-header__navigation--opened & {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }

    .page-header__navigation--closed & {
      display: none;
    }

    .page-header--nojs & {
      display: block;
    }
  }
}
