.page-footer {
  background-color: white;

  &--index {
    display: none;
  }

  @media (min-width: $tablet-min) {
    &--index {
      display: block;
    }
  }
}

.page-footer__wrapper {
  @include padding-vert(40px, 40px);
  @include padding-hor;

  @media (min-width: $tablet-min) {
    display: flex;
    @include padding-vert(37px, 37px);
  }

  @media (min-width: $desktop-min) {
    @include padding-vert(69px, 72px);
    @include padding-hor(10px);
  }
}

.page-footer__logo {
  width: 147px;
  margin-bottom: 40px;
  @include margin-hor(auto);

  @media (min-width: $tablet-min) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 74px;
  }

  @media (min-width: $desktop-min) {
    margin-right: 238px;
  }
}

.page-footer__social {
  @include margin-vert(40px);

  @media (min-width: $tablet-min) {
    margin-top: 3px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-min) {
    margin-top: 4px;
  }
}

.page-footer__copyright {
  @media (min-width: $tablet-min) {
    margin-top: 14px;
    margin-left: auto;
  }
}
