.page-header__navigation {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header__top-wrapper {
  position: relative;
  @include padding-vert(22px, 25px);
}

.page-header__logo {
  width: 75px;
  margin-left: 20px;
}

.page-header__button {
  display: none;

  position: absolute;
  padding: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;

  &--open {
    top: 21px;
    right: 20px;
    width: 50px;
    height: 24px;
  }
  &--close {
    top: 21px;
    right: 19px;
    width: 24px;
    height: 24px;
  }
}

.page-header__icon {
  display: block;
}

.page-header__list {
  @include margin-vert;
}

@media (min-width: $tablet) {
  .page-header__top-wrapper {
    @include padding-vert(27px, 42px);
  }

  .page-header__logo {
    width: 147px;
  }
}

@media (min-width: $desktop) {
  .page-header {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .page-header__navigation {
    flex-direction: row;
    justify-content: space-between;
    @include padding-hor(10px);
  }

  .page-header__top-wrapper {
    padding-bottom: 43px;
  }

  .page-header__logo {
    margin-left: 0;
  }
}
