.post__link {
  display: block;
  &--panorama {
    position: relative;
    width: 320px;
    @include margin-hor(auto);
  }
}

.post__image {
  display: block;
}

.post__legend {
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;
  @include padding-vert(6px, 6px);
  @include padding-hor(10px);
  @include font(700, 12px, 24px);
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: $pink;
}



@media (min-width: $tablet-min) {
  .post__link--panorama {
    width: 660px;
  }

  .post__legend {
    top: 57px;
    width: 140px;
  }
}



@media (min-width: $desktop-min) {
  .post__link--panorama {
    width: auto;
    max-width: 1200px;
    overflow-x: hidden;
  }

  .post__image {
    &--panorama {
      width: 900px;
      min-width: 1200px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  .post__legend {
    top: 54px;
    right: calc((100% - 940px) / 2);
    z-index: 1;
  }
}
