.post__link {
  display: block;
  width: 280px;
  height: 180px;
  overflow: hidden;

  &--panorama {
    position: relative;
    width: 320px;
    height: 137px;

    @include margin-hor(auto);
  }

  @media (min-width: $tablet-min) {
    width: 300px;
    height: 300px;

    &--panorama {
      width: auto;
      max-width: 700px;
      height: 509px;
    }
  }

  @media (min-width: $desktop-min) {
    height: 400px;

    &--panorama {
      max-width: 1200px;
      height: 506px;
    }
  }
}

.post__image {
  display: block;

  @media (min-width: $tablet-min) {
    &--panorama {
      min-width: 700px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-min) {
    &--panorama {
      min-width: 1200px;
    }
  }
}

.post__legend {
  position: absolute;
  top: 0;
  right: 20px;
  width: 140px;

  @include padding-vert(6px, 6px);
  @include padding-hor(10px);
  @include font(700, 12px, 24px);
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: $pink;

  @media (min-width: $tablet-min) {
    top: 57px;
    width: 140px;
  }

  @media (min-width: $desktop-min) {
    top: 54px;
    right: calc((100% - 940px) / 2);
    z-index: 1;
  }
}
