.price {
  @include padding-vert(133px, 47px);
  background-color: $gray;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
}

.price__wrapper {
  margin-bottom: 40px;
  padding-left: 20px;
  overflow-x: hidden;
}



@media (min-width: $tablet) {
  .price {
    @include padding-vert(109px, 68px);
  }

  .price__wrapper {
    margin-bottom: 0;
    padding-right: 20px;
    overflow-x: visible;
  }
}
