.price {
  position: relative;
  z-index: 0;
  @include padding-vert(133px, 47px);
  background-color: $gray;
}

.price__background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: auto;
}

.price__wrapper {
  margin-bottom: 40px;
  padding-left: 20px;
  overflow-x: hidden;
}



@media (min-width: $tablet) {
  .price {
    @include padding-vert(109px, 68px);
  }
  .price__wrapper {
    margin-bottom: 0;
    padding-right: 20px;
    overflow-x: visible;
  }
}
