.request {
  @include padding-vert(45px, 15px);
  background-color: white;
}

.request__slogan {
  @include margin-vert;
  @include padding-hor;
  @include font;
  text-align: center;
  color: $navy;
}

.request__slogan-tip {
  display: none;
}



@media (min-width: $tablet) {
  .request {
    @include padding-vert(92px, 49px);
  }

  .request__slogan {
    @include padding-hor(60px);
    font-size: 18px;
  }

  .request__slogan-tip {
    display: block;
  }
}
