.request {
  @include padding-vert(45px, 15px);
  background-color: white;

  @media (min-width: $tablet-min) {
    @include padding-vert(92px, 49px);
  }

  @media (min-width: $desktop-min) {
    padding-bottom: 1px;
  }
}

.request__slogan {
  @include margin-vert;
  @include padding-hor;
  @include font;
  text-align: center;
  color: $navy;

  @media (min-width: $tablet-min) {
    @include padding-hor(60px);
    font-size: 18px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 70px;

    @include padding-hor(90px);
  }
}

.request__slogan-tip {
  display: none;

  @media (min-width: $tablet-min) {
    display: inline;
  }
}
