.request {
  padding-top: 45px;
  padding-bottom: 15px;
}

.request__slogan {
  @include margin-vert;
  @include padding-hor;
  @include font;
  text-align: center;
  color: $navy;
}

.request__slogan-tip {
  display: none;
}
