.research {
  display: none;
}

@media (min-width: $tablet) {
  .research {
    display: block;
  }

  .research__wrapper {
    position: relative;
    z-index: 0;
    @include padding-vert(96px, 50px);
    padding-left: 330px;
    padding-right: 20px;
    &::before {
      content: "24";
      position: absolute;
      top: 136px;
      left: 85px;
      z-index: 2;
      @include font(700, 96px, 150px);
      color: $pink;
    }
  }

  .research__icon {
    position: absolute;
    z-index: 1;
    top: 59px;
    left: 21px;
    width: 238px;
    height: 276px;
  }

  .research__icon-path--circle {
    fill: $pink;
  }

  .research__title {
    @include margin-vert(10px);
    @include font(700, 30px, 36px);
    color: black;
  }

  .research__description {
    @include margin-vert(10px);
    padding-right: 5px;
    @include font(400, 14px, 24px);
    color: $navy;
  }

  .research__link {
    display: block;
    @include font(400, 14px, 24px);
    text-decoration: underline;
    color: $pink;
    &:hover {
      color: rgba(210, 40, 86, 0.6);
    }
    &:active {
      color: rgba(210, 40, 86, 0.3);
    }
  }
}



@media (min-width: $desktop) {
  .research {
    background-color: $gray;
  }

  .research__wrapper {
    @include padding-vert(111px, 113px);
    padding-left: 376px;
    padding-right: 10px;
    &::before {
      top: 147px;
      left: 90px;
      @include font(700, 120px, 120px);
    }
  }

  .research__icon {
    top: 17px;
    left: 11px;
    width: 298px;
    height: 345px;
  }

  .research__title {
    margin-bottom: 24px;
    line-height: 30px;
  }

  .research__description {
    margin-bottom: 31px;
    padding-right: 0;
    @include font(400, 18px, 30px);
  }

  .research__link {
    @include font(400, 18px, 30px);
  }
}
