.reviews {
  background-color: white;
}

.reviews__wrapper {
  @include padding-vert(42px, 0);
}

.reviews__inner-wrapper {
  margin-bottom: 33px;
  overflow-x: hidden;
}

.reviews__list {
  display: flex;
  width: 300%;
  @include list;
}

.reviews__item {
  width: 320px;
  @include padding-hor;
}

.reviews__content {
  margin: 0;
  text-align: center;
}

.reviews__author {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
}

.reviews__author-name {
  display: block;
  @include font(700, 18px, 30px);
  color: black;
}

.reviews__author-status {
  display: none;
}

.reviews__text {
  @include margin-vert;
  @include font;
  color: $navy;
}

.reviews__button {
  display: none;
}



@media (min-width: $tablet) {
  .reviews__wrapper {
    padding-top: 75px;
  }

  .reviews__inner-wrapper {
    margin-bottom: 35px;
  }

  .reviews__item {
    width: 660px;
    @include padding-hor;
  }

  .reviews__content {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 2;
    margin-bottom: 0;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__author-status {
    display: block;
    @include font;
  }

  .reviews__text {
    order: 1;
    margin-bottom: 36px;
    font-size: 18px;
  }
}



@media (min-width: $desktop) {
  .reviews__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 185px;
    @include padding-hor(10px);
  }

  .reviews__icon {
    position: absolute;
    top: 73px;
    left: calc(50% - 37px);
    width: 79px;
    height: 63px;
    fill: #efefef;
  }

  .reviews__inner-wrapper {
    order: 1;
    width: 820px;
    margin-bottom: 0;
  }

  .reviews__item {
    width: 820px;
    @include padding-hor;
  }

  .reviews__author-name {
    margin-bottom: 2px;
    font-size: 24px;
  }

  .reviews__author-status {
    font-size: 18px;
  }

  .reviews__button-icon {
    display: block;
    fill: rgba(40, 54, 69, 0.3);
  }

  .reviews__button {
    display: block;
    width: 22px;
    height: 41px;
    margin-top: 28px;
    padding: 0;
    background-color: transparent;
    border-style: none;
    &--next {
      order: 1;
    }
    &:hover .reviews__button-icon {
      fill: rgba(40, 54, 69, 0.6);
    }
    &:active .reviews__button-icon {
      fill: rgba(40, 54, 69, 0.1);
    }
  }
}
