.reviews {
  @include padding-vert(42px, 133px);
}

.reviews__inner-wrapper {
  margin-bottom: 33px;
  overflow-x: hidden;
}

.reviews__list {
  display: flex;
  justify-content: center;
  width: 300%;
  @include list;
}

.reviews__item {
  width: 320px;
  @include padding-hor;
}

.reviews__content {
  margin: 0;
  text-align: center;
}

.reviews__author {
  display: block;
  margin-bottom: 12px;
  font-style: normal;
}

.reviews__author-name {
  display: block;
  @include font(700, 18px, 30px);
  color: black;
}

.reviews__author-status {
  display: none;
}

.reviews__text {
  @include margin-vert;
  @include font;
  color: $navy;
}

.reviews__button {
  display: none;
}
