.table {
  width: 834px;
  border-collapse: collapse;
}

.table__cell {
  width: calc(100% / 3);
  vertical-align: top;
  &--header {
    @include padding-vert(17px, 20px);
    @include padding-hor;
    background-color: $navy;
    &:nth-child(2) {
      border-right: 2px solid $gray;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-left: 2px solid $gray;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  &--body {
    position: relative;
    @include padding-vert(15px, 14px);
    padding-left: 22px;
    padding-right: 70px;
    @include font;
    color: $navy;
    background-color: white;
    border-left: 2px solid $darkgray;
    border-right: 2px solid $darkgray;
    border-bottom: 2px solid $darkgray;
  }
  &--best {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    &::before {
      content: "Хит";
      position: absolute;
      top: 5px;
      left: 3px;
      width: 74px;
      height: 73px;
      @include font(600, 14px, 30px);
      text-transform: uppercase;
      color: white;
      transform: rotate(-45deg);
    }
  }
  &:first-child {
    display: none;
  }
}

.table__column-title {
  display: block;
  margin-bottom: 1px;
  @include font(700, 18px, 30px);
  text-transform: uppercase;
  color: white;
}

.table__price-value {
  display: inline-block;
  vertical-align: top;
  @include font(300, 24px, 30px);
  color: white;
}

.table__cell-name {
  text-transform: uppercase;
}

.table__cell-value {
  position: absolute;
  &--yes {
    top: 20px;
    right: 17px;
    width: 31px;
    height: 21px;
  }
  &--no {
    top: 15px;
    right: 19px;
    width: 27px;
    height: 27px;
  }
}

.table__cell-icon {
  display: block;
}



@media (min-width: $tablet) {
  .table {
    width: 620px;
  }

  .table__cell {
    width: calc(100% / 4);
    &--header {
      @include padding-vert(12px, 4px);
    }
    &--body {
      @include padding-vert(7px, 8px);
      @include padding-hor(15px);
    }
    &--best {
      background-image: url("../img/bg-hit-tablet.svg");
      background-size: 57px 57px;
      &::before {
        top: 0;
        left: 0;
        width: 57px;
        height: 57px;
      }
    }
    &:first-child {
      display: table-cell;
    }
    &:empty {
      visibility: hidden;
      border-right-color: $navy;
      border-bottom-color: $darkgray;
    }
  }

  .table__column-title {
    margin-bottom: 3px;
    font-size: 16px;
 }

  .table__price-value {
    font-size: 18px;
    line-height: 18px;
  }

  .table__cell-name {
    display: none;
  }

  .table__cell-value {
    &--yes {
      top: 13px;
      left: 61px;
    }
    &--no {
      top: 9px;
      left: 62px;
    }
  }
}



@media (min-width: $desktop) {
  .table {
    width: 940px;
  }

  .table__cell {
    width: 232px;
    &--header {
      @include padding-vert(17px, 20px);
    }
    &--body {
      @include padding-vert(14px, 15px);
      @include padding-hor(21px);
      font-size: 18px;
    }
    &--best {
      background-image: url("../img/bg-hit.svg");
      background-size: 74px 73px;
      &::before {
        top: 8px;
        left: 6px;
        width: 57px;
        height: 57px;
      }
    }
  }

  .table__column-title {
    margin-bottom: 1px;
    font-size: 18px;
 }

  .table__price-value {
    font-size: 24px;
    line-height: 30px;
  }

  .table__cell-value {
    &--yes {
      top: 22px;
      left: 101px;
    }
    &--no {
      top: 16px;
      left: 103px;
    }
  }
}
