.table {
  width: 836px;
  border-collapse: collapse;
}

.table__cell {
  width: 280px;
  border-left: 2px solid #e5e5e5;
  border-right: 2px solid #e5e5e5;
  &--header {
    @include padding-vert(17px, 18px);
    @include padding-hor;
    background-color: $navy;
    border-bottom: 2px solid $navy;
    &:nth-child(2) {
      border-left: 2px solid $navy;
    }
    &:last-child {
      border-right: 2px solid $navy;
    }
  }
  &--body {
    position: relative;
    @include padding-vert(15px, 14px);
    padding-left: 22px;
    padding-right: 70px;
    border-bottom: 2px solid #e5e5e5;
  }
  &--best {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
    &::before {
      content: "Хит";
      position: absolute;
      top: 5px;
      left: 3px;
      width: 74px;
      height: 73px;
      @include font(600, 14px, 30px);
      text-transform: uppercase;
      color: white;
      transform: rotate(-45deg);
    }
  }
  &:first-child {
    display: none;
  }
}

.table__column-title {
  display: block;
  margin-bottom: 1px;
  @include font(700, 18px, 30px);
  text-transform: uppercase;
  color: white;
}

.table__price-value {
  display: inline-block;
  vertical-align: top;
  @include font(300, 24px, 30px);
  color: white;
}

.table__cell-name {
  @include font(400, 14px, 30px);
  text-transform: uppercase;
  color: $navy;
}

.table__cell-value {
  position: absolute;
  background-color: red;
  &--yes {
    top: 20px;
    right: 17px;
    width: 31px;
    height: 21px;
  }
  &--no {
    top: 15px;
    right: 19px;
    width: 27px;
    height: 26px;
  }
}
