.table {
  width: 834px;
  border-collapse: collapse;

  @media (min-width: $tablet-min) {
    width: 100%;
  }
}

.table__cell {
  width: calc(100% / 3);
  vertical-align: top;

  &:first-child {
    display: none;
  }

  &--header {
    @include padding-vert(17px, 20px);
    @include padding-hor;
    background-color: $navy;
  }

  &--header:nth-child(2) {
    border-right: 2px solid $gray;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &--header:last-child {
    border-left: 2px solid $gray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &--body {
    position: relative;
    @include padding-vert(15px, 14px);
    padding-left: calc(20% / 7);
    padding-right: calc(25% / 3);
    @include font;
    color: $navy;
    background-color: white;
    border-left: 2px solid $darkgray;
    border-right: 2px solid $darkgray;
    border-bottom: 2px solid $darkgray;
  }

  &--best {
    position: relative;
    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;

    &::before {
      content: "Хит";
      position: absolute;
      top: 5px;
      left: 3px;
      width: 74px;
      height: 73px;
      @include font(600, 14px, 30px);
      text-transform: uppercase;
      color: white;
      transform: rotate(-45deg);
    }
  }

  @media (min-width: $tablet-min) {
    width: calc(100% / 4);

    &:first-child {
      display: table-cell;
    }

    &:empty {
      visibility: hidden;
      border-right-color: $navy;
      border-bottom-color: $darkgray;
    }

    &--header {
      @include padding-vert(12px, 4px);
    }

    &--body {
      @include padding-vert(7px, 8px);
      @include padding-hor(calc(375% / 157));
    }

    &--best {
      background-image: url("../img/bg-hit-tablet.svg");
      background-size: 57px 57px;

      &::before {
        top: 0;
        left: 0;
        width: 57px;
        height: 57px;
      }
    }
  }

  @media (min-width: $desktop-min) {
    &--header {
      @include padding-vert(17px, 20px);
    }

    &--body {
      @include padding-vert(14px, 15px);
      @include padding-hor(21px);
      font-size: 18px;
    }

    &--best {
      background-image: url("../img/bg-hit.svg");
      background-size: 74px 73px;

      &::before {
        top: 8px;
        left: 6px;
        width: 57px;
        height: 57px;
      }
    }
  }
}

.table__column-title {
  display: block;
  margin-bottom: 1px;
  @include font(700, 18px, 30px);
  text-transform: uppercase;
  color: white;

  @media (min-width: $tablet-min) {
    margin-bottom: 3px;
    font-size: 16px;
  }

  @media (min-width: $desktop-min) {
    margin-bottom: 1px;
    font-size: 18px;
  }
}

.table__price-value {
  display: inline-block;
  vertical-align: top;
  @include font(300, 24px, 30px);
  color: white;

  @media (min-width: $tablet-min) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $desktop-min) {
    font-size: 24px;
    line-height: 30px;
  }
}

.table__cell-name {
  text-transform: uppercase;

  @media (min-width: $tablet-min) {
    display: none;
  }
}

.table__cell-value {
  position: absolute;

  &--yes {
    top: 20px;
    right: calc(85% / 14);
    width: 31px;
    height: 21px;
  }

  &--no {
    top: 15px;
    right: calc(95% / 14);
    width: 27px;
    height: 27px;
  }

  @media (min-width: $tablet-min) {
    &--yes {
      top: 13px;
      left: calc(50% - 31px/2);
    }

    &--no {
      top: 9px;
      left: calc(50% - 27px/2);
    }
  }
}

.table__cell-icon {
  display: block;
}
