.text-wrap {
  display: none;
}

@media (min-width: $tablet) {
  .text-wrap--tablet {
    display: inline;
  }
}

@media (min-width: $desktop) {
  .text-wrap {
    &--tablet {
      display: none;
    }
    &--desktop {
      display: inline;
    }
  }
}
