.hidden {
  display: none;
}

.menu-visible-style {
  background-color: $navy;
  box-shadow: 0 1px 0 0 #000000;
}

.show-reviews-item-1 {
  transform: translateX(0);
}

.show-reviews-item-2 {
  transform: translateX(-320px);
}

.show-reviews-item-3 {
  transform: translateX(-640px);
}

.show-price-item-1 {
  transform: translateX(0);
}

.show-price-item-2 {
  transform: translateX(-278px);
}

.show-price-item-3 {
  transform: translateX(-556px);
}

.editor-active-toggle {
  fill: $pink;
}
