.range-hidden {
  display: none;

  @media (min-width: $tablet-min) {
    display: block;
  }

  @media (min-width: $desktop-min) {
    display: flex;
  }
}

.show-reviews-item-1 {
  transform: translateX(0);
}

.show-reviews-item-2 {
  transform: translateX(calc(-100% / 3));
}

.show-reviews-item-3 {
  transform: translateX(calc(-200% / 3));
}

.show-price-item-1 {
  transform: translateX(0);
}

.show-price-item-2 {
  transform: translateX(-278px);

  @media (min-width: $tablet-min) {
    transform: translateX(0);
  }
}

.show-price-item-3 {
  transform: translateX(-556px);

  @media (min-width: $tablet-min) {
    transform: translateX(0);
  }
}

.editor-active-toggle {
  fill: $pink;
}

.slider-active-toggle {
  background-color: $navy;

  &::before {
    background-color: white;
  }

  &:hover {
    background-color: rgba(40, 54, 69, 0.6);

    &::before {
      background-color: white;
    }
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.1);

    &::before {
      background-color: white;
    }
  }
}
