$gray: #f2f2f2;
$darkgray: #e5e5e5;
$navy: #283645;
$pink: #d22856;

$retina-i: 144dpi;
$retina-x: 1.5dppx;

//TODO: удалить временные правила в конце процесса разработки

// MOBILE-ONLY

// $mobile-max: 1999px;
// $tablet: 2000px;
// $tablet-max: 2999px;
// $desktop: 3000px;

// TABLET & MOBILE

// $mobile-max: 659px;
// $tablet: 660px;
// $tablet-max: 2999px;
// $desktop: 3000px;

// NORMAL

$mobile-max: 659px;
$tablet: 660px;
$tablet-max: 979px;
$desktop: 980px;
