@mixin font($fw: 400, $fs: 14px, $lh: 30px) {
  font-weight: $fw;
  font-style: normal;
  font-size: $fs;
  line-height: $lh;
  font-family: "Open Sans", "Arial", sans-serif;
}

@mixin list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin margin-hor($mh: 20px) {
  margin-right: $mh;
  margin-left: $mh;
}

@mixin margin-vert($mb: 0) {
  margin-top: 0;
  margin-bottom: $mb;
}

@mixin padding-hor($ph: 20px) {
  padding-right: $ph;
  padding-left: $ph;
}

@mixin padding-vert($pt: 10px, $pb: 10px) {
  padding-top: $pt;
  padding-bottom: $pb;
}

@mixin range-track {
  width: 240px;
  height: 2px;
  background-color: $navy;
  border-style: none;
}

@mixin range-thumb {
  width: 14px;
  height: 14px;
  background-color: $gray;
  border: 2px solid $pink;
  border-radius: 50%;
  cursor: pointer;
}

@mixin visually-hider {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
}

// AUXILIARY

@mixin outline {
  outline: 1px solid red;
  outline-offset: -1px;
}
